<!--
File: base.html
Author: Harris Yu, hy002421@bu.edu, 2025-06-26
Description: the base template that has a navigation bar
-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Calories Tracker</title>
  <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-inner">
      <a href="{% url 'main' %}"><strong>Calories Tracker</strong></a>
      <ul>
        {% if user.is_authenticated %}
          <li>Hi, {{ user.username }}</li>
          <li><a href="{% url 'profile' user.profile.pk %}">Profile</a></li>
          <li>
            <form action="{% url 'logout' %}" method="post" style="display:inline">
              {% csrf_token %}
              <button class="delete">Logout</button>
            </form>
          </li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'registration' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  {% block content %}{% endblock %}
</body>
</html>