{#File: mini_fb/base.html#}
{#Author: Harris Yu 2025-06-05#}
{#This is the base template with a navigation bar#}
{% load static %}
<html>
    <head>
        <title>Mini Facebook App</title>
        <link rel="stylesheet"  href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini Facebook App</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
                    <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
                </ul>
            </nav>


        {% block content %}
        {% endblock %}
    </body>

    <footer>
        <p>Mini facebook app by Harris Yu</p>


</html>