{#File: mini_fb/delete_status_form.html#}
{#Author: Harris Yu 2025-06-05#}
{#A confirmation page for deleting a status message, send a post if confirm, otherwise get back to profile#}
{% extends "mini_fb/base.html" %}

{% block content %}
    <h1>Are you sure you want to delete this Status?</h1>

    <p>
        <strong>Message:</strong> {{ status.message }}<br>
        <strong>Timestamp:</strong> {{ status.timestamp }}
    
    <form method='POST'>
        {% csrf_token %}
        <input type="submit" value="Confirm">
    </form>

    <form method='GET' action="{% url 'show_profile' status_message.profile.pk %}">
        <input type="submit" value="Cancel">
{% endblock %}