{% extends "mini_fb/base.html" %}

{% block content %}
    <p>
        {{ profile.first_name }} {{ profile.last_name }} - {{ profile.city }} - {{ profile.email }}
        <br>
        <img src="{{ profile.profile_pic_url }}" alt="Image of {{ profile.first_name }} {{ profile.last_name }}">
    </p>

    <h2>Status Messages</h2>
    <p>
        <a href="{% url 'create_status' profile.pk %}">Create a New Status</a>
    <ul>
        {% for status in profile.get_status_messages %}
            <li>
                <strong>{{ status.timestamp }}</strong>: {{ status.message }}
            </li>
        {% empty %}
            <li>No status messages available.</li>
        {% endfor %}
    </ul>
{% endblock %}